@font-face{ 
	font-family: 'Chomsky';
	src: url('fonts/chomsky-webfont.woff') format('woff');

}

body {
	background-color: #0094FF;
	margin:0;

}
body h2 {
	color: white;
	
}
.container {
	background-color: #0094FF;
	display:grid;
	height:130vh;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: .1fr .5fr .1fr 2fr 1.5fr 1.5fr 1.5fr .5fr;
	grid-template-areas:
		"nav nav nav nav"
		"title title title title"
		"header header header header"
		"main main content1 content2"
		"main main content1 content2"
		"content3 content4 content5 content8"
		"content6 content7 content5 content8"
		"footer footer footer footer";
	grid-gap: .5rem;
}
.container h2 {
	line-height: 0;
	text-decoration: none;
}
.container a {
	text-decoration: none;
	color: black;
}
nav{
	grid-area: nav;
}
#title{
	padding:0;
	text-align:center;
	display: block;	
	grid-area: title;
}
#title img{
	width:400px;
}
#titlenews{
	padding:0;
	text-align:center;
	display: block;	
	grid-area: title;
}
#titlenews img{
	width:320px;
}

header{
	grid-area: header;
}
main{
	background: #0077cc;
	grid-area: main;
	text-align:center;
}
main h2{
	font-size:25px;
}
main img{
	float:left;
	padding-left: 5%;
	padding-bottom: 1%;
	width: 86%;
	max-width:98%;
}

.footer {
	grid-area: footer;
	display: block;	
	text-align: center;
	bottom: 0;
	padding-bottom:15px;
	padding-top:15px;
	color: white;
	background-color: #0077cc;
	width:100%;
	}		
.footerbtm {
	font-size:10px;
	
}
.footertxt a {
	font-size:12px;
	text-decoration:none;
	color: white;
}

#content1{
	background: #0077cc;
	grid-area: content1;
	text-align: center;
}
#content1 img{
	float: center;
	padding-bottom: 1%;
	width: 69%;
	max-width:77%;
	height: auto;
}
#content1 h2{
	font-size:18px;
}

#content2{
	background: #0077cc;
	grid-area: content2;
	text-align: center;
}
#content2 img{
	float: center;
	padding-bottom: 1%;
	width: 69%;
	max-width:77%;
	height: auto;
}
#content2 h2{
	font-size:18px;
}
#content3{
	background: #0077cc;
	grid-area: content3;
	text-align: center;
}
#content3 img{
	float: center;
	padding-bottom: 1%;
	width: 60%;
	max-width:60%;
	height: auto;
}
#content3 h2{
	font-size:18px;
}

#content4{
	background: #0077cc;
	grid-area: content4;
	text-align: center;
}
#content5{
	background: #0077cc;
	grid-area: content5;
	text-align: center;
}
#content6{
	background: #0077cc;
	grid-area: content6;
	text-align: center;
}
#content7{
	background: #0077cc;
	grid-area: content7;
	text-align: center;
}
#content8{
	background: #0077cc;
	grid-area: content8;
	text-align: center;
}
#body{
	padding-left:34.375em;
	padding-right:34.375em;

}
#body p{
	line-height:1.66667;
	color:white;
	}
#body img{
	float:left;
	width:30%;
	padding-right:10px;
}
#body h3{
	text-align:center;
	font-size:20px;
	line-height:0;	
	color: white;
}
#body h5{
	text-align:center;
	line-height:0;
	color: white;
	
}


.topnav {
	background-color: #0077cc;
	overflow: hidden;
	padding:8px;
	padding-left:60px;
}
.topnav a {
	font-family: Helvetica;
	float: left;
	text-align: center;
	padding: 5px 15px;
	text-decoration: none;
	color: white;
}
		
/* Nav */
.toppestnav {
	background-color: #1a1a1a;
	overflow: hidden;
	padding:8px;
	padding-left:60px;

}
.toppestnav a {
	font-family: Helvetica;
	float: left;
	text-align: center;
	padding: 5px 15px;
	text-decoration: none;
	color: white;
}

@media only screen and (max-width: 1400px){
	}
}
	
@media only screen and (max-width: 1200px){

}
@media only screen and (max-width: 770px){
	.container{
		grid-template-columns: 1fr;
		grid-template-rows: .1fr .5fr .1fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr .5fr;
		grid-template-areas:
		"nav"
		"title"
		"header"
		"main"
		"content1"
		"content2"
		"content3"
		"content4"
		"content5"
		"content6"
		"content7"
		"content8"
		"footer";
		
	}
	#content1 img{
		width: 30%;

}
@media only screen and (max-width: 500px){
	#body {
		margin-left:10%;
		margin-right:10%;
		font-size:14px;
	}
	#body h3{
		font-size:14px;
	}

	#body img{
		width:100%;
		padding-bottom:10px;
	}
	#title img{
		width: 330px;
	}
	.topnav a {
		float: left;
		text-align: center;
		padding: 5px 15px;
		text-decoration: none;
		color: black;
		font-size:12px;
	}
	main h2 {
		font-size:20px;
		
	}
}
@media only screen and (max-width: 500px){
	.toppestnav a {
	font-size:13.5px;
	}
}

footer {
				position: fixed;
				text-align: center;
				bottom: 0;
				left:40%;
				padding:15px;
			}








			
