#body{
}
body {
margin:0;
height: auto;
background-color: #a956dc;
min-height: 1500px;
}
a {
	color:black;
	
}
h1 {text-align: center;
	margin-top: 5px;
	padding:0;
	margin-bottom:0;
	font-size:3vh;
}
h2 {text-align: center;
}
h3 {text-align: center;
	margin: 10px;
}
h2 {text-align: center;
font-size:30px;}
h3 {text-align: center;}
p {}
div {}
main {text-align: center;
	overflow: auto;
}

main p {
	margin-right: 15%;
	margin-left: 15%;
}
main {
	
	margin-right:15%;
}
h2 {
	
	margin-right:15%;
}
.infobox {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	right:8%;
	position: absolute;
	width: 275px;
	background-color:#5e1c88;
	padding-bottom:10px;
	overflow: auto;
	
}
.infobox td {
	text-align:left;
	
}
.infobox h4 {
	color:white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align:center;
	background-color:#ae6b00;
	margin:0;
	font-size:12px;
	margin-right:5px;
	margin-left:5px;
	margin-top:15px;
	padding-top:5px;
	padding-bottom:5px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	
}
.infobox p {
	color:white;
	margin:0;
	margin-left:5px;
	margin-top:5px;
	font-size:12px;
}
.infobox a {
	color:white;
	
}
.infobox p.date {
	display:block;
	text-align:center;
	margin:0;
	
}
.infobox h6 {
	color:white;
	text-align:center;
	margin:5px;
	margin-top:5px;
	font-size:13px;
	
}
.infobox h5.title {
	color:white;
	text-align:center;
	font-size:20px;
	margin:5px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.infobox img {
	display: block;
	width: 259px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
}
/* Nav */
.toppestnav {
	background-color: #5e1c88;
	overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.toppestnav a {
	float: left;
	text-align: center;
	padding: 10px 15px 10px;
	text-decoration: none;
	color: white;
	font-size:16px;
	font-weight:600;
	font-family:Helvetica;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 500px){
	.toppestnav a {
	font-size:13.5px;
	}
}			
.footer {
	display: block;	
	text-align: center;
	bottom: 0;
	position:fixed;
	padding-bottom:15px;
	padding-top:15px;
	color: black;
	background-color: #5e1c88;
	width:100%;
}		
.footerbtm {
	font-size:10px;
	color: white;
}
.footertxt a {
	font-size:12px;
	text-decoration:none;
	color: white;
}