#body{
}
body {
margin:0;
background-color: #a956dc;
min-height: 1000px;
overflow: auto;
}
a {
	color:black;
	
}
h1 {text-align: center;
	margin-top: 5px;
	padding:0;
	margin-bottom:0;
	font-size:3vh;
}
h2 {
	margin-bottom:0%;
	text-align: center;
	font-size:30px;
}
h3 {text-align: center;
	margin: 10px;
}
h3 {text-align: center;}
p {}
div {}
main {text-align: center;
	overflow: auto;
}

main p {
	font-size:calc(1em * 0.875);
	padding-left:5%;
	padding-right:5%;
}
main {
	position: absolute;
	height:750px;
	top:10%;
	-webkit-box-shadow: inset 0px 0px 20px -1px rgba(0,0,0,0.6);
	-moz-box-shadow: inset 0px 0px 20px -1px rgba(0,0,0,0.6);
	box-shadow: inset 0px 0px 20px -1px rgba(0,0,0,0.6);
	margin-right:25%;
	margin-left:25%;
	background-color:#be80e5;
}
.dropdown {
  font-weight:bold;
  display: none;
  margin-left:10px;
  margin-right:10px;
  text-align:center;
  background-color:#5e1c88;
  color:white;
  cursor : pointer;
  padding:10px;

}
.dropdown2 {
  font-weight:bold;
  display: none;
  margin-left:10px;
  margin-right:10px;
  text-align:center;
  background-color:#5e1c88;
  color:white;
  cursor : pointer;
  padding:10px;

}
.contents {
	-webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.6);
	box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.6);
	top:10%;
	left:8%;
	position: absolute;
	width: 275px;
	background-color:#5e1c88;
	padding-bottom:10px;
	overflow: auto;
}
.contents p.contenttitle {
	text-align:center;
	color:white;
	margin-bottom:0;
}
.contents a {
	display:block;
	font-size:14px;
	color:white;
	margin-left:10px;
	padding-top:5px;
	padding-bottom:5px;
}
.contents a.subcontent {
	font-size:12px;
	color:white;
	margin-left:40px;
	padding-bottom:5px;
	
}
.infobox {
	-webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.6);
	box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.6);
	top:10%;
	right:8%;
	position: absolute;
	width: 275px;
	background-color:#5e1c88;
	padding-bottom:10px;
	overflow: auto;
	
}
.infobox td {
	text-align:left;
	
}
.infobox h4 {
	color:white;
	-webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.6);
	box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.6);
	text-align:center;
	background-color:#ae6b00;
	margin:0;
	font-size:12px;
	margin-right:5px;
	margin-left:5px;
	margin-top:15px;
	padding-top:5px;
	padding-bottom:5px;
	text-shadow: 0px 0px 5px rgba(0,0,0,0.6);
	
}
.infobox p {
	color:white;
	margin:0;
	margin-left:5px;
	margin-top:5px;
	font-size:12px;
}
.infobox a {
	color:white;
	
}
.infobox p.date {
	display:block;
	text-align:center;
	margin:0;
	
}
.infobox h6 {
	color:white;
	text-align:center;
	margin:5px;
	margin-top:5px;
	font-size:13px;
	
}
.infobox h5.title {
	color:white;
	text-align:center;
	font-size:20px;
	margin:5px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.infobox img {
	display: block;
	width: 259px;
	margin-left: auto;
	margin-right: auto;
	-webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.6);
	box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.6);
	
}
/* Nav */
.toppestnav {
	background-color: #5e1c88;
	overflow: hidden;
   -webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.6);
	box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.6);
}
.toppestnav a {
	float: left;
	text-align: center;
	padding: 10px 15px 10px;
	text-decoration: none;
	color: white;
	font-size:16px;
	font-weight:600;
	font-family:Helvetica;
	text-shadow: 0px 0px 5px rgba(0,0,0,0.6);
}
@media only screen and (max-width: 500px){
	body {
		height:1100px;
		
	}
	.toppestnav a {
	font-size:13.5px;
	}
	.infobox {
		display:none;
		top:20%;
		right:0;
		width: 100%;
		margin:0;
		
	}
	main {
		margin-right:0%;
		margin-left:0%;
		top:9rem;
	}
	h2 {
		margin-right:0%;
	}
	.dropdown {
		display: block;
		margin-top:5%;
	}
	.dropdown2 {
		margin-top:5%;
	}
	.contents {
		display:none;
	}
}			
.footer {
	display: block;	
	text-align: center;
	bottom: 0;
	position:fixed;
	padding-bottom:15px;
	padding-top:15px;
	color: black;
	background-color: #5e1c88;
	width:100%;
	-webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.6);
	box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.6);
}		
.footerbtm {
	font-size:10px;
	color: white;
}
.footertxt a {
	font-size:12px;
	text-decoration:none;
	color: white;
}