body{
	min-height: 400px;
	background-color: #000000;
	margin:0;
}
h1 {text-align: center;
	margin: 10px;
}
img {

}
p {text-align: center;
   color: white;
   font-family: Helvetica;
   font-size:15px;}

#p1{
	line-height:0;

}
#p2{
	line-height:0;

}
div {text-align: center;}
p {
	margin-right: 20%;
	margin-left: 20%;
}
/* Nav */
.toppestnav {
	background-color: #1a1a1a;
	overflow: hidden;
	padding:8px;
	padding-left:60px;
}
.toppestnav a {
	font-family: Helvetica;
	float: left;
	text-align: center;
	padding: 5px 15px;
	text-decoration: none;
	color: white;
}
@media only screen and (max-width: 500px){
	.toppestnav a {
	font-size:13.5px;
	}
}		
.footer {
	display: block;	
	text-align: center;
	bottom: 0;
	position:relative;
	padding-bottom:15px;
	padding-top:15px;
	color: white;
	background-color: #1a1a1a;
	width:100%;
	}		
.footerbtm {
	font-size:10px;
	
}
.footertxt a {
	font-size:12px;
	text-decoration:none;
	color: white;
}
.logo {
	padding:15px;
	margin-top:5px;
	
}
.logo img {
	 margin: 10px;
}
.urlogo {
	display: inline;
}
.urlogo img {
	width:150px;
	 margin: 10px;
	
}
.center {
	margin-left:auto;
	margin-right:auto;
	
}
