body {
	background-color:#b3b3ff;
}
.container {
	display:grid;
	height:98vh;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: .1fr .1fr 2fr;
	grid-template-areas:
	"nav nav"
	"header header"
	"main rightbar"
	
}

nav{
	grid-area: nav;
}
header h2 {
	text-align: center;
	font-size:30px;
	line-height:0;
}
header{
	grid-area: header;
}
main{
	grid-area: main;
	margin-left:25%;
}
#rightbar{
	grid-area: rightbar;
	text-align: center;
	margin-right:5%;
}
#rightbar img{
	width:200px;
	padding: 0;
}
#rightbar a{
	line-height: 0;
	padding: 0;
	text-decoration: none;
	font-size:20px;
	color: black;
}
#rightbar h5{
	margin-top:15px;
	margin:10px;
}





/* Nav */
.toppestnav {
	background-color: #b3b3ff;
	overflow: hidden;
	border-style: inset;
}
.toppestnav a {
	float: left;
	text-align: center;
	padding: 5px 15px;
	text-decoration: none;
	color: black;
}
.toppestnav a:hover {
	background-color: #9999ff;}
.toppestnav a.active {
	background-color: #8080ff;
	color: white;
}