@font-face {
  src: url(Chomsky);
  font-family: Chomsky;
}
.container {
	background-color: #FFFFFF;
	display:grid;
	height:100vh;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: .1fr .5fr .1fr 2fr 1.5fr 1.5fr 1.5fr .5fr;
	grid-template-areas:
		"nav nav nav nav"
		"title title title title"
		"header header header header"
		"main main content1 content2"
		"main main content1 content2"
		"content3 content4 content5 content8"
		"content6 content7 content5 content8"
		"footer footer footer footer";
	grid-gap: .5rem;
}
.container h2 {
	font-size:1.5em;
	line-height: 0;
	text-decoration: none;
}
.container a {
	text-decoration: none;
	color: black;
}
nav{
	grid-area: nav;
}
#title{
	padding:0;
	text-align:center;
	display: block;	
	grid-area: title;
}
#title img{
	width:500px;
}
#titlenews{
	padding:0;
	text-align:center;
	display: block;	
	grid-area: title;
}
#titlenews img{
	width:330px;
}

header{
	grid-area: header;
}
main{
	background: #e6e6e6;
	grid-area: main;
	text-align:center;
}
main h2{
}
main img{
	float:left;
	padding-left: 1%;
	padding-bottom: 1%;
	width: 98%;
	max-width:98%;
	height: auto;
}

footer{
	grid-area: footer;
	background: #e6e6e6;

}

#content1{
	background: #e6e6e6;
	grid-area: content1;
	text-align: center;
}
#content1 img{
	float: center;
	padding-bottom: 1%;
	width: 77%;
	max-width:77%;
	height: auto;
}

#content2{
	background: #e6e6e6;
	grid-area: content2;
}
#content3{
	background: #e6e6e6;
	grid-area: content3;
}
#content4{
	background: #e6e6e6;
	grid-area: content4;
}
#content5{
	background: #e6e6e6;
	grid-area: content5;
}
#content6{
	background: #e6e6e6;
	grid-area: content6;
}
#content7{
	background: #e6e6e6;
	grid-area: content7;
}
#content8{
	background: #e6e6e6;
	grid-area: content8;
}
#body{
	margin-left:30%;
	margin-right:30%;

}
#body p{
	line-height:1.66667;
	color:#333333;
	}
#body img{
	float:left;
	width:30%;
	padding-right:10px;
}
#body h3{
	text-align:center;
	font-size:20px;
	line-height:0;	
}
#body h5{
	text-align:center;
	line-height:0;
	
}


.topnav {
	background-color: #FFFFFF;
	overflow: hidden;
	border-style: inset;
}
.topnav a {
	float: left;
	text-align: center;
	padding: 5px 10px;
	text-decoration: none;
	color: black;
}
.topnav a:hover {
	background-color: #e6e6e6;

}
.topnav a.active {
	background-color: #cccccc;
	color: black;
}			
/* Nav */
.toppestnav {
	background-color: #FFFFFF;
	overflow: hidden;
	border-style: inset;
}
.toppestnav a {
	float: left;
	text-align: center;
	padding: 5px 15px;
	text-decoration: none;
	color: black;
}
.toppestnav a:hover {
	background-color: #e6e6e6;

}
.toppestnav a.active {
	background-color: #cccccc;
	color: black;
}

@media only screen and (max-width: 1400px){
	}
}
	
@media only screen and (max-width: 1200px){
	.container h2{
		font-size:1em;
	}

}
@media only screen and (max-width: 770px){
	.container{
		grid-template-columns: 1fr;
		grid-template-rows: .1fr .5fr .1fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr .5fr;
		grid-template-areas:
		"nav"
		"title"
		"header"
		"main"
		"content1"
		"content2"
		"content3"
		"content4"
		"content5"
		"content6"
		"content7"
		"content8"
		"footer";
		
	}
	#content1 img{
		width: 30%;

}
@media only screen and (max-width: 500px){
	#body {
		margin-left:10%;
		margin-right:10%;
		font-size:14px;
	}
	#body h3{
		font-size:14px;
	}

	#body img{
		width:100%;
		padding-bottom:10px;
	}
	#title img{
		width: 330px;
	}
	.container h2{
		font-size:.75em;
	}
	.topnav a {
		float: left;
		text-align: center;
		padding: 5px 15px;
		text-decoration: none;
		color: black;
		font-size:12px;
	}			
}
@media only screen and (max-width: 500px){
	.toppestnav a {
	font-size:13.5px;
	}
}








			