*{font-family:sans-serif;}
@font-face{ 
	font-family: 'Chomsky';
	src: url('fonts/chomsky-webfont.woff') format('woff');

}

.container {
	background-color: #FFFFFF;
	display:grid;
	height:100vh;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: .1fr .5fr .1fr 2fr 1.5fr 1.5fr 1.5fr .5fr;
	grid-template-areas:
		"nav nav nav nav"
		"title title title title"
		"header header header header"
		"main main content1 content2"
		"main main content1 content2"
		"content3 content4 content5 content8"
		"content6 content7 content5 content8"
		"footer footer footer footer";
	grid-gap: .5rem;
}
.container h2 {
	font-size:10px;
	line-height: 0;
	text-decoration: none;
}
main a {
	text-decoration: none;
	color: black;
}
nav{
	grid-area: nav;
}
#title{
	padding:0;
	text-align:center;
	display: block;	
	grid-area: title;
}
#title h1{
	text-decoration: none;
	color: black;
	
}
#title a{
	text-decoration: none;
	color: black;
	
}
}
#title img{
	width:500px;
}
#titlenews{
	padding:0;
	text-align:center;
	display: block;	
	grid-area: title;
}

h1{
	font-size:20px;
	line-height:0;
	
}

#titlenews img{
	width:330px;
}

.toppestnav{
	text-align:center;
	
}
.topnav a{
	font-size:x-small;
}

header{
	grid-area: header;
}
main{
	background: #e6e6e6;
	grid-area: main;
	text-align:center;
}
main h2{
}
main img{
	float:left;
	padding-left: 1%;
	padding-bottom: 1%;
	width: 98%;
	max-width:98%;
	height: auto;
}

footer{
	grid-area: footer;
	background: #e6e6e6;

}

#content1{
	background: #e6e6e6;
	grid-area: content1;
	text-align: center;
}
#content1 img{
	float: center;
	padding-bottom: 1%;
	width: 77%;
	max-width:77%;
	height: auto;
}

#content2{
	background: #e6e6e6;
	grid-area: content2;
}
#content3{
	background: #e6e6e6;
	grid-area: content3;
}
#content4{
	background: #e6e6e6;
	grid-area: content4;
}
#content5{
	background: #e6e6e6;
	grid-area: content5;
}
#content6{
	background: #e6e6e6;
	grid-area: content6;
}
#content7{
	background: #e6e6e6;
	grid-area: content7;
}
#content8{
	background: #e6e6e6;
	grid-area: content8;
}
#body{
	margin-left:30%;
	margin-right:30%;

}
#body p{
	line-height:1.66667;
	color:#333333;
	}
#body img{
	float:left;
	width:30%;
	padding-right:10px;
}
#body h3{
	text-align:center;
	font-size:20px;
	line-height:0;	
}
#body h5{
	text-align:center;
	line-height:0;
	
}

#content1 img{
		width: 30%;

}
@media only screen and (max-width: 770px){
.container{
	grid-template-columns: 1fr;
	grid-template-rows: .1fr .5fr .1fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr .5fr;
	grid-template-areas:
	"nav"
	"title"
	"header"
	"main"
	"content1"
	"content2"
	"content3"
	"content4"
	"content5"
	"content6"
	"content7"
	"content8"
	"footer";	
	}






			