body{
	min-height: 400px;
	background-color: #D30000;
	margin:0;
}
h1 {text-align: center;
	margin: 10px;
}
img {

}
p {text-align: center;
   color: white;
   font-family: Helvetica;
   font-size:15px;}

#p1{
	line-height:0;

}
#p2{
	line-height:0;

}
div {text-align: center;}
p {
	margin-right: 20%;
	margin-left: 20%;
}
/* Nav */
.toppestnav {
	background-color: #1a1a1a;
	overflow: hidden;
	padding:8px;
	padding-left:60px;
}
.toppestnav a {
	float: left;
	text-align: center;
	padding: 5px 15px;
	text-decoration: none;
	color: white;
	font-family: Helvetica;
}
/* Top Nav */
.topnav {
	background-color: #800000;
	overflow: hidden;
	padding:8px;
	padding-left:60px;
}
.topnav a {
	float: left;
	text-align: center;
	padding: 5px 15px;
	text-decoration: none;
	color: white;
	font-family: Helvetica;
}
@media only screen and (max-width: 500px){
	.topnav a {
	font-size:13.5px;
	}
}		
.footer {
	display: block;	
	text-align: center;
	bottom: 0;
	position:fixed;
	padding-bottom:15px;
	padding-top:15px;
	color: white;
	background-color: #800000;
	width:100%;
	}		
.footerbtm {
	font-size:10px;
	
}
.footertxt a {
	font-size:12px;
	text-decoration:none;
	color: white;
}
.logo {
	padding:15px;
	margin-top:5px;
	
}
.logo img {
	 margin: 10px;
}
.urlogo {
	display: inline;
}
.urlogo img {
	width:150px;
	 margin: 10px;
	
}
.center {
	margin-left:auto;
	margin-right:auto;
	
}

.programs {
	display: inline;
	margin-left:6.25em;
	margin-right:auto;
	padding:.5em;
	text-align: center;
	float:left;
	font-size:25px;
	background-color:#800000;
	
}
.programs a {
	text-decoration:none;
	font-weight: bold;
	color: white;
	font-family: Arial Black;
}
.programs img {
	width: 400px;
	
}
.urlogo img {
	width:150px;
	 margin: 10px;
	
}

#gotable table {
	border: 3px solid black;
	margin-left:auto;
	margin-right:18.5em;
	border-collapse: collapse;
	background-color: white;
	
}
#gotable tr {
	border: 3px solid black;
	
}
#gotable td {
	border: 3px solid black;
	padding:5px;
}
#gotable th {
	border: 3px solid black;
	padding:5px;
	
}
#gotable a {
	text-decoration:none;
	color:black;
	
}